<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="SourceDirectoryPath" value="E:\Mine" />
    <add key="DestinationDirectoryPath" value="E:\Mine" />
  </appSettings>
</configuration>